* {
  box-sizing: border-box;
}

.jumbotron {
  background-size: cover;
  background: rgba(54,162,209,1);
}

.row-jumbotron {
  width: 100%;
  align-items: center;
}

.card {
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 2%;
}

.card-image:hover {
  transform: scale(1.4);
  opacity: 0.9;
}

.card-image {
  height: 200px;
}

.for-margin {
  margin-left: 8%;
  margin-right: 8%;
}

#help {
  background: rgba(54,162,209,1);
  opacity: 0.6;
  padding: 5%;
}

iframe {
  margin-left: 10px;
  margin-right: 10px;
}

footer {
  background: rgba(54,162,209,1);
}